/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: 'Georgia', serif;
    background-color: #1F2544; /* Dark blue background */
    color: #F3F4F6; /* Light gray text */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styling */
h1 {
    font-size: 2.5em;
    color: #FFD0EC; /* Light pink header text */
    text-shadow: 2px 2px 4px #FFD700; /* Soft gold shadow */
    margin-bottom: 20px;
}

/* Time button styling */
.time-btn {
    font-size: large;
    padding: 10px 20px;
    background-color: #FFD0EC; /* Light pink background */
    border: none;
    border-radius: 5px;
    color: #1F2544; /* Dark blue text */
    transition: background-color 0.3s, color 0.3s;
}

.time-btn:hover {
    background-color: #1F2544; /* Dark blue hover effect */
    color: #FFD0EC; /* Light pink text */
}

/* Box and hover effects */
.box {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.hover-paragraph:hover {
    transform: translateY(-5px);
}

/* Image container and hover effects */
.image-container {
    position: relative;
    text-align: center;
}

#hoverImage {
    border-radius: 10%;
    width: 200px;
    transition: transform 0.3s;
}

#hoverText {
    display: none;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.image-container:hover {
    transform: translateY(10px);
}

/* Back to Index button styling */
.back-to-index {
    margin-top: 30px;
    text-align: center;
}

.back-btn {
    font-size: large;
    padding: 10px 20px;
    background-color: #FFD0EC; /* Light pink background */
    color: #1F2544; /* Dark blue text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #1F2544; /* Dark blue hover effect */
    color: #FFD0EC; /* Light pink text */
}

/* Styling for time display */
#timeDisplay {
    font-size: 2rem;
    background-color: #FFD0EC; /* Light pink background */
    color: #1F2544; /* Dark blue text */
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
